@model CourseDetailsModel
@{
    ViewData["Title"] = $"Details about course {Model.Name}";
}
<h2>@ViewData["Title"]</h2>

<div class="panel panel-primary">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-body">@Model.Description</div>
    <div class="panel-footer">
        <h4>Start Date: @Model.StartDate.ToShortDateString()</h4>
        <h4> End Date: @Model.EndDate.ToShortDateString()</h4>
        <h4>Trainer Name: <a href="/users/profile/@Model.TrainerId" class="btn-link">@Model.TrainerName</a> </h4>

        <h3>Number of students enrolled: @Model.NumberOfStudents</h3>
        @{
            if (Model.StartDate >= DateTime.UtcNow)
            {

                if (!Model.StudentUsenames.Contains(User.Identity.Name))
                {
                    <a href="/courses/signup/?id=@Model.Id&username=@User.Identity.Name" class="btn btn-warning">Sign Up</a>
                }
                else
                {
                    <a href="/courses/signout/?id=@Model.Id&username=@User.Identity.Name" class="btn btn-danger">Sign Out</a>
                }

            }
        }
    </div>
</div>